@model RentAutomation.Models.Tenant

@{
    ViewData["Title"] = "Tenant Details";
}

<h1>Tenant Details</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Model.TenantName</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>@Model.TenantPhone</td>
            </tr>
            <tr>
                <td>Since</td>
                <td>@Model.TenancyStartDate.ToString("dd MMMM yyyy")</td>

            </tr>
            <tr>
                <td>House No</td>
                <td>@Model.TenantHouseNo</td>
            </tr>
            <tr>
                <td>Rent</td>
                <td>@Model.Rent</td>
            </tr>
            <tr>
                <td>Deposit</td>
                <td>@Model.Deposit</td>
            </tr>
            <tr>
                <td>EB Per Unit</td>
                <td>@Model.EbPerUnit</td>
            </tr>
            <tr>
                <td>Water</td>
                <td>@Model.Water</td>
            </tr>
        </tbody>
    </table>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
